@model DevconAzure.Models.OrderEntity
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="table table-bordered">

    <tr>
        <th hidden="hidden">
            @Html.DisplayNameFor(model => model.RowKey)
        </th>
        <th hidden="hidden">
            @Html.DisplayNameFor(model => model.PartitionKey)
        </th>
        <th hidden="hidden">
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderPath)
        </th>
        <th></th>
    </tr>
   
     <tr>
            <th hidden="hidden">
                @Html.DisplayFor(model => model.OrderId)
            </th>
            <td hidden="hidden">
                @Html.DisplayFor(model => model.RowKey)
            </td>
            <td hidden="hidden">
                @Html.DisplayFor(model => model.PartitionKey)
            </td>
            <td>
                @Html.DisplayFor(model => model.OrderName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
            <td>
                @Html.DisplayFor(model => model.Quantity)
            </td>
            <td>
                @Html.DisplayFor(model => model.Email)
            </td>
            <td>
                @Html.DisplayFor(model => model.OrderPath)
            </td>
            <td>
                @Html.ActionLink("Edit", "Create", new { id = Model.OrderId }) |
                @Html.ActionLink("Delete", "Delete", new { id = Model.OrderId })
            </td>
        </tr>
</table>

